<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div><h1>Users list</h1></div>
{{#users}}
    <div>
        <ul>
            <li><span>{{login}} | role: {{role}}</span></li>
        </ul>
    </div>
{{/users}}
{{^users}}
    <div><p>No user</p></div>
{{/users}}

<form method="get" action="/addUser">
    <p><input type="submit" value="Add user"></p>
</form>

<form method="get" action="/deleteUser">
    <p><input type="submit" value="Delete all user"></p>
</form>

</body>
</html>